body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}
header h1{
  text-align:center;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}


.navitem{
  color:blue;
  margin: 0 1%;
  background-color: white;
}
.active{
  color:white;
  background-color: blue;
  border-radius:5px;
  margin: 0 1%;

}
.location-container{
  width:50%;
  margin:0;
  padding:0;
  color:gray;
  text-shadow: 1px 1px blue;
}
.location{
  border:5px solid blue;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;

}
.character{
  width:35%;
}